:root {

    // Colors
    --clr-primary-400: #00DE8E;
    --clr-primary-500: #0A7029;

    --clr-accent-400: #404EED;
    --clr-accent-500: #6FDDD0;

    --clr-neutral-100: #fff;
    --clr-neutral-200: #E5E5E5;
    --clr-neutral-300: #B8B8B8;
    --clr-neutral-700: #303438;
    --clr-neutral-800: #171717;
    --clr-neutral-900: #000;

    // Borders
    --bd-radius: 1rem;

    // Font-Sizes
    --fs-200: 1.75rem;
    --fs-300: 2rem;
    --fs-400: 2.5rem;
    --fs-600: 5rem;
    --fs-900: 15rem;

    // Font-Weights
    --fw-100: 100;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;

    // Spacing 
    --spacer: 1rem;
    --section-padding: 15rem 0;

    //Shadows
    --box-shadow: 10px 10px 50px var(--clr-neutral-300);
}