.popup {
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background: var(--clr-neutral-100);
    border-radius: var(--bd-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem 2rem;
    transition: opacity .25s ease-out;    
   
    & .cross {
        position: absolute;
        cursor: pointer;
        top: -.5rem;
        right: -1.25rem;
        width: 2rem;
    }

    & .name {
        font-size: var(--fs-400);
        margin: 2rem 0;
    }

    &-page {
        transition: opacity .25s ease-out;

        & .about-container {
            width: 100%;
            text-align: center;

            & img {
                box-shadow: var(--box-shadow);
            }
    
            & .info {
                font-weight: var(--fw-600);
                font-size: var(--fs-300);
                margin-bottom: 2rem;
    
                & > p {
                    padding: 1rem 0;
                }
    
                & p:not(:last-child) {
                    border-bottom: 2px solid var(--clr-neutral-200);
                }
            }
        }  
        
        & .testimonials-container {
            position: absolute;
            width: 95%;
            top: 10rem;

            & .img {
                background: black;
                height: 8rem;
                width: 18rem;
                border-radius: 50%;

                & img {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;

                    &:hover {
                        opacity: .5;
                    }
                }
            }
    
            & .testimonial {
                display:flex;
                align-items: center;
                background: var(--clr-neutral-200);
                padding: 1rem 1rem;
                margin: 2.5rem 0;

                & .shape {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 7rem;
                    width: 18rem;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50%;                      
                }

                & .info {
                    font-size: var(--fs-200);
                }

                & .img {
                    height: 100%;
                    backface-visibility: hidden;
                    transition: all .5s;
                }
    
                & .caption {
                    padding: 1rem;
                    position: absolute;
                    color: var(--clr-neutral-100);
                    font-size: var(--fs-200);
                    text-align: center;
                    opacity: 0;
                    transition: all .5s;
                    backface-visibility: hidden;
                }

                &:hover .img {
                    transform: scale(1.1);
                    filter: blur(3px) brightness(80%);
                }

                &:hover .caption {
                    opacity: 1;
                }

                & .info {
                    margin-left: 2rem;
                    font-size: var(--fs-100);

                    & .title {
                        font-weight: var(--fw-700);
                        text-transform: uppercase;
                        margin-bottom: 1rem;
                    }

                    & .opinion {
                        font-style: italic;
                        line-height: 1.2;
                    }
                    
                }
            }

            
        }
    
        & .booking-container {
            position: absolute;
            width: 100%;
            top: 10rem;

            & form > * {
                margin-bottom: 1rem;
            }

            & .label {
                font-size: var(--fs-300);
            }

            & input {
                height: 3rem;
                border: 3px solid var(--clr-neutral-900);
                padding: 1rem;

                transition: border .45s ease-out;

                &:focus {
                    border: 2px solid var(--clr-accent-400);
                }
            }

            & textarea {
                height: 9rem;
                width: 100%;
                padding: 1rem;
                border: 3px solid var(--clr-neutral-900);
                transition: border .45s ease-out;

                &:focus {
                    border: 2px solid var(--clr-accent-400);
                }
            }

            & .btn {
                font-size: var(--fs-400);
            }
        }

        
    }

    
    

    & .nav-list {
        justify-content: space-around;
        
    }

    & .nav-list a,
    & .nav-list a:hover {
        cursor: pointer;
        display: inline-block;
        text-transform: none;
        margin-top: 1rem;
        font-size: var(--fs-200);
        font-weight: var(--fw-700);
        color: var(--clr-primary-400);
    }


    & .nav-list a.active {
        color: var(--clr-neutral-100);
        background: var(--clr-primary-400);
        padding: .25rem 1rem;
        border-radius: 100vw;
        cursor: pointer;
    }
}


@media (min-height: 0px) and (max-height: 300px) {
    .popup {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 70%;
        max-height: 30rem;
    }
}

@media (min-height: 300px) and (max-height: 400px) {
    .popup {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 60%;
        max-height: 40rem;
    }
}

@media (min-height: 400px) and (max-height: 500px) {
    .popup {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 60%;
        max-height: 50rem;
    }
}

@media (min-height: 500px) and (max-height: 600px) {
    .popup {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 60%;
        max-height: 60rem;
    }
}


@media (min-width: 40em){
    .popup {
        width: 70rem;
        top: 54%;
        & .name {
            font-size: var(--fs-600);
        }

        & .about-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 8rem 0;

            & img {
                width: 40rem;
            }
        }       
        
        & .testimonials-container {
            padding-top: 4.5rem;
            
            & .testimonial {

                & .shape {
                    height: 9rem;
                    width: 11rem;
                }

                
            }
        }

        & .booking-container {

            & form {
                margin-top: 2rem;
            }

            & .btn {
                transform: translate(0%, -1.75rem);
            }
        }

        & .btn {
            font-size: var(--fs-600);
            transform: translateX(6.9rem);
        }
    }
}

@media (min-width: 660px) and (max-width: 720px) {
    .popup {
        top: 55%;
        width: 65rem;
        height: 60rem;

        .about-container {
            & img {
                transform: translateX(3rem);
                width: 30rem;
            }    
        }

        .testimonials-container {
            & .shape {
                height: 5rem;
                width: 5rem;
            }
        }

        & .btn {
            transform: translateX(5rem);
        }
    }
}

@media (min-width: 640px) and (max-width: 660px) {
    .popup {
        width: 55rem;

        .about-container {
            & img {
                transform: translateX(3rem);
                width: 25rem;
            }    
        }

        .testimonials-container {
            & .testimonial {
                padding: .5rem .5rem;
            }
        }

        & .btn {
            transform: translateX(1.9rem);
        }
    }
}










.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 150vh;
    transition: opacity .25s ease-out;
}